*,
*::before,
*::after {
  box-sizing: border-box;
}


.signup_lesson {
    position: fixed;
    top: 0px;
    background-color: #2626266b;
    height: 100%;
    width: 100%;
    display: none;
}

.signup_lesson_form {
    background-color: white;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    border-radius: 50px;
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.close {
    width: fit-content;
    margin-left: auto;
    background-color: #4A6FFE;
    color: white;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.close:hover {
    transition: all 0.2s ease-in-out;
    transform: translateY(-10%);
    box-shadow: 1px 5px 26px -16px rgba(0, 0, 0, 0.907);
}

.signup_lesson_form form {
    display: flex;
    gap: 20px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.day h5 {
    margin-bottom: 20px;
}

#calendar-tomorrow {
    display: none;
}

#teacher_container {
    display: flex;
    gap: 2%;
    margin-top: 130px;
}



input[type="checkbox"] {
    width: 20px;
    height: 20px;
    display: none;
    
}

.checkbox_container {
}

.checkmark {
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #848484;
    color: #848484;
    font-family: Nunito;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    user-select: none;
    width: 50px;
    text-align: center;
}

input[type="checkbox"]:hover + .checkmark {
    background-color: rgb(230, 230, 230);
    
}

input[type="checkbox"]:checked + .checkmark {
    border: 3px solid #4A6FFE;
    color: #4A6FFE;
    transition: all 0.2s ease-in-out;
    
}

input[type="checkbox"]:checked:hover + .checkmark {
    background-color: white;
    
}

.signup_lesson_submit_block {
    display: flex;
    justify-content: center;
}

.submit_signup {
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: #4A6FFE;
    color: white;
    border: none;
    border-radius: 50px;
}

.submit_signup:hover {
    transition: all 0.2s ease-in-out;
    transform: translateY(-10%);
    box-shadow: 1px 5px 26px -16px rgba(0, 0, 0, 0.687);
}


.filter {
    background-color: #4A6FFE;
    box-shadow: 1px 5px 26px -16px rgba(0, 0, 0, 0.687);
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 50px;
    border-radius: 50px;
    height: fit-content;
}

.filter form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.filter form h5 {
    color: white;
} 

.filter form input {
    padding: 8px;
    border-radius: 50px;
    font-size: 16px;
    border: none;
    font-family: Nunito;
    font-weight: bold;
    display: block;
    width: 100%;
    
}

.filter form select {
    padding: 8px;
    border-radius: 50px;
    padding-inline: 10px;
    font-family: Nunito;
    font-weight: bold;
    border: none;
    color: #262626;
    display: block;
    width: 100%;
}

.filter form select::picker-icon {
    color: #999999;
    transition: 0.4s rotate;
  }

.filter form select:open::picker-icon {
    rotate: 180deg;
  }

.filter form button {
    margin-top: 40px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: white;
    color: #4A6FFE;
    transition: all 0.2s ease-in-out;
}

.filter form button:hover {
    transition: all 0.2s ease-in-out;
    transform: translateY(-10%);
    box-shadow: 1px 5px 26px -16px rgba(0, 0, 0, 0.687);
}

.teachers {
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}

.teacher_card {
    background-color: white;
    box-shadow: 1px 5px 26px -16px rgba(0, 0, 0, 0.687);
    padding: 30px;
    border-radius: 50px;
    display: flex;
    gap: 5%;
    flex: 1;
}

.teacher_card_image {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.teacher_card_image button {
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #4A6FFE;
    border: 3px solid #4A6FFE;
    color: white;
    transition: 0.2s all ease-in-out;
}

.teacher_card_image button:hover {
    color: #4A6FFE;
    background-color: white;
    border: 3px solid #4A6FFE;
    transition: 0.2s all ease-in-out;
    box-shadow: 1px 5px 26px -16px rgba(0, 0, 0, 0.687);
}

.teacher_card img {
    width: 260px;
    border-radius: 20px;
}

.teacher_card_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
}

.teacher_card_text div {
    color: #262626c9;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.teacher_card_text div h5 {
    color: #262626c9;
}

.teacher_card_text p {
    color: #26262680;
    text-indent: 10%;
}


@media (max-width: 539px) {
    #teacher_container {
        flex-direction: column;
        gap: 20px;
    }

    .make_signup {
        width: 260px;
        margin: auto;
    }

    .teacher_card_text {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .accept_filter {
        margin-top: 30px !important;
    }

    .filter form button {
        margin-top: 0px;   
    }

    .filter form {
        flex-direction: column; 
        margin: 0px !important;  
        flex-direction: column;
    }
    
    .teacher_card {
        flex-direction: column;
    }

    .teacher_card_image img {
        margin: auto;
    }

    .filter_input > * {
        width: 100% !important;
    }

    .filter_input select {
        width: 100% !important;
    }

    .filter {
        padding: 30px;
        width: 100%;
    }

    .filter form input {
        padding: 1px;
    }

    .filter form select {
        padding: 1px;
        width: 100% !important;
    }
}

@media (min-width: 540px) and (max-width: 780px) {
    #teacher_container {
        flex-direction: column;
        gap: 20px;
    }

    .accept_filter {
        margin-top: 30px !important;
    }

    

    .filter form button {
        margin-top: 0px;   
    }

    .filter form {
        flex-direction: column; 
        margin: 0px !important;  
        flex-direction: column;
    }
    

    .filter_input > * {
        width: 100% !important;
    }

    .filter_input select {
        width: 100% !important;
    }

    .filter {
        padding: 30px;
        width: 100%;
    }

    .filter form input {
        padding: 1px;
    }

    .filter form select {
        
        padding: 1px;
    }
}

@media (min-width: 780px) and (max-width: 1200px) {
    #teacher_container {
        flex-direction: column;
        gap: 20px;
    }

    .filter form button {
        margin-top: 0px;   
    }

    .filter form {
        align-items: center;
        text-align: start;
        flex-direction: row;   
    }
    

    .filter_input > * {
        width: 100%;
    }

    .filter_input select {
        width: 100%;
    }

    .filter form {
        flex-direction: row;
        align-items: center;
    }

    .filter {
        padding: 30px;
        width: 100%;
    }

    .filter form input {
        padding: 1px;
    }

    .filter form select {
        padding: 1px;
    }
}

@media (min-width: 1560px) {
    .teacher_card_text div {
        width: 60%;
    }
}